
 
<table>
  <thead>
    <tr>
    <h1 id= "title" >Choose your future Dog:</h1>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>

<h4>Seach by breed:</h4>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :breed_search, params[:breed_search]%>
<%=submit_tag ("Search")%>
<%end%>

<h4>Seach by age:</h4>
<%=form_tag pets_path, method: :get do%>
<%=number_field_tag :age_search, params[:age_search]%>
<%=submit_tag ("Search")%>
<%end%>

<h4>Seach by gender (male, female):</h4>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :gender_search, params[:gender_search]%>
<%=submit_tag ("Search")%>
<%end%>

<h4>Seach by size (small, medium, big) :</h4>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :size_search, params[:size_search]%>
<%=submit_tag ("Search")%>
<%end%>

    <% @pets.each do |pet| %>
    <br><%=link_to pet.name, pet_path(pet)%><br>
    <br><%= image_tag pet.image, :width => 350, :height => 200 %><br>
        <%end%>
      </tr>
  </tbody>
</table>
 
<br>
 


