
<h1 id= "title" >Choose your future Dog:</h1>
<br>
<br>
<br>

<p>Seach by breed:</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :breed_search, params[:breed_search]%>
<%=submit_tag ("Search")%>
<%end%>
<br>
<p>Seach by age:</p>
<%=form_tag pets_path, method: :get do%>
<%=number_field_tag :age_search, params[:age_search]%>
<%=submit_tag ("Search")%>
<%end%>
<br>
<p>Seach by gender (male, female):</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :gender_search, params[:gender_search]%>
<%=submit_tag ("Search")%>
<%end%>
<br>
<p>Seach by size (small, medium, big) :</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :size_search, params[:size_search]%>
<%=submit_tag ("Search")%>
<%end%>
<br>
<ul>
    <li>
    <% @unadopted_pets.each do |pet| %>
    <%=link_to pet.name, pet_path(pet)%>
    <%= image_tag pet.image, :width => 350, :height => 200%>
        <%end%>
     </li>
</ul>


 


