<div id="pets_show">
<br>
<div align="center">
<h1>Choose your future Dog:</h1>
</div>
<br>

<div class="row row-cols-4">

<div class="col">
<p>Seach by breed:</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :breed_search, params[:breed_search]%>
<%=submit_tag ("Search")%>
<%end%>
</div>

<div class="col">
<p>Seach by age:</p>
<%=form_tag pets_path, method: :get do%>
<%=number_field_tag :age_search, params[:age_search]%>
<%=submit_tag ("Search")%>
<%end%>
</div>

<div class="col">
<p>Seach by gender (male, female):</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :gender_search, params[:gender_search]%>
<%=submit_tag ("Search")%>
<%end%>
</div>


<div class="col">
<p>Seach by size (small, medium, big) :</p>
<%=form_tag pets_path, method: :get do%>
<%=text_field_tag :size_search, params[:size_search]%>
<%=submit_tag ("Search")%>
<%end%>
</div>
</div>

<br>


  <div class="row row-cols-4">
    <% @unadopted_pets.each do |pet| %>
    <div class="col">
        <%= image_tag pet.image, :width => 350, :height => 200%><br>
            <%=link_to pet.name, pet_path(pet)%> |
            <%= pet.breed %> |
            <%= pet.age %> |
            <%= pet.gender %>
    </div>
    <%end%>
 </div>





 


