<div align="center">

<br><br>
<h1>User Log In</h1>
<br>
<%= form_tag '/users/sessions' do %>
   Name: <%= text_field_tag "name"%>
    Password: <%= password_field_tag "password"%>
    <%= submit_tag "Submit"%>
<%end%>
<br>
<%= button_to "New User", new_user_path, method: :get %>
<br>
<% if flash[:messages] %>
<%= flash.now[:messages] %>
<%end%>
</div>
