<div align="center">

<br><br><br>
<h2>User Login</h2>
<%= form_tag '/users/sessions' do %>
   Name: <%= text_field_tag "name"%>
    Password: <%= password_field_tag "password"%>
    <%= submit_tag "Submit"%>
<%end%>
<br>
<%= button_to "New User", new_user_path, method: :get %>

</div>
