<br><br>
<div align="center"><h1><%=@user.name%>'s Profile</h1></div>

<%if @adopt%>
<h2> Dogs Adopted:</h2>

  <div class="row row-cols-3">
<%@user.pets.each do |dog|%>
        <div class="col">
    <ul style="list-style: none;">
    <li>
        <%= image_tag dog.image, :width => 350, :height => 200 %>
    </li>
        <%= link_to dog.name, pet_path(dog) %><br>
        Age: <%= dog.age %><br>
        Breed: <%= dog.breed %><br>
        Gender: <%= dog.gender %><br>
        Size: <%= dog.size %><br>
        Adopted from <%= link_to dog.breeder.name, breeder_path(dog.breeder) %>
        </ul>
        </div>
<%end%>
</div>

<%else%>
You have yet to adopt a pet! Go search available <%=link_to "pets", pets_path%>
<%end%>

