<div align="center">
<h1> WELCOME TO PUPPY LINK </h1>
<br>
<%= button_to "User Login", users_login_path, method: "get" %><br>
<%= button_to "Breeder Login", breeders_login_path, method: "get"%><br>
<%= button_to "User Sign Up", new_user_path, method: "get"%><br>
<%= button_to "Breeder Sign Up", new_breeder_path, method: "get"%><br><br>
<%= button_to "Just Looking", pets_path, method: "get" %>