
<h1> Active Breeders </h1>

<%= button_to "Sort By Highest Rating", sort_breeders_path, method: :patch %> 
<ul>
<% @breeders.each do |breeder|%>
<li><%= link_to  breeder.name, breeder_path(breeder) %></li>
        Rated: <%= breeder.rating %> /10 <br>
        <%= breeder.pets.count %> dogs available
<%end%>
</ul>
<%= button_to "All Breeders", breeders_path, method: :get %> 
<%= button_to "All Dogs", pets_path, method: :get %> 
<%= button_to "Log Out", breeders_logout_path, method: :delete%>