<br><br><br>
<div align="center"><h1>Register a Breeder</h1>

<%= form_for @breeder do |f| %>
Name: <%= f.text_field :name %>
Password: <%= f.password_field :password %>
<%=f.submit%>
<%end%>

<br>
<br>

<% if flash[:messages] %>
<%= flash[:messages] %>
<%end%>

</div>