
<br>
<div align="center" id = "pets_show">
<h1><%=@breeder.name%>'s Profile</h1>
<%@breeder.rating.to_i.times do %>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Gold_Star.svg" width="15" height="15">
<% end %><br>

<br>
<% if @user %>
 <%= form_for @breeder do |f| %>
    <%= f.number_field :rating %>
 <%= f.submit "Rate #{@breeder.name}" %>
 <%end%>
<%end%>

 <% if @breeder.id == @profile %>
 <div align="center">
 <button type="button" class="btn btn-warning">
    <%= link_to "Add Dogs", new_pet_path, method: :get %> 
    </button>
    <button type="button" class="btn btn-warning">
    <%= link_to "Edit Breeder", edit_breeder_path, method: :get%> 
    </button>
    <button type="button" class="btn btn-warning">
    <%= link_to "Delete Breeder", breeder_path(@breeder), method: :delete %> 
    </button>
<%end%>
<br>
<h4>Dogs Available:</h4>
  <div class="row row-cols-4">
<% @breeder.pets.each do |dog|%>
    <div class="col">
        <%= image_tag dog.image, :width => 350, :height => 200 %>
            <%= link_to dog.name, pet_path(dog) %></li>
            Age: <%= dog.age %><br>
            Breed: <%= dog.breed %><br>
            Gender: <%= dog.gender %><br>
            Size: <%= dog.size %><br>
        <% if @breeder.id == @profile %>
            <%= button_to "Unlist Dog", pet_path(dog), method: :delete %>
        <%end%>
        </div>
<%end%>
</div>
</div>

