
<br><br><br>
<div align="center"><h1><%=@breeder.name%>'s Profile</h1>
Rating: <%@breeder.rating.to_i.times do %>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Gold_Star.svg" width="15" height="15">
<% end %><br>
</div>

<br>
<% if @user %>
 <%= form_for @breeder do |f| %>
    <%= f.number_field :rating%>
 <%= f.submit "Rate #{@breeder.name}"%>
 <%end%>
<%end%>
<br>
 <% if @breeder.id == @profile %>
    <%= button_to "Add Dogs", new_pet_path, method: :get %> 
    <%= button_to "Edit Breeder", edit_breeder_path, method: :get%> 
    <%= button_to "Delete Breeder", breeder_path(@breeder), method: :delete %> 
<%end%>
<br>
Dogs Available:
<% @breeder.pets.each do |dog|%>
    <ul>
        <%= image_tag dog.image, :width => 350, :height => 200 %>
            <li><%= link_to dog.name, pet_path(dog) %></li>
            Age: <%= dog.age %><br>
            Breed: <%= dog.breed %><br>
            Gender: <%= dog.gender %><br>
            Size: <%= dog.size %><br>
        <% if @breeder.id == @profile %>
            <%= button_to "Unlist Dog", pet_path(dog), method: :delete %>
        <%end%>
    </ul>
<%end%>

